.App {
  text-align: left;
  background-color: gray;
  border:1px dotted;
	margin: 15px;
	border-radius: 10px;
	box-shadow: 0 0 7px 7px #BF2929;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*.Item{
  background:linear-gradient(to right, #CF1818 , white);
  background-size: 300px;
  background-repeat:repeat-y;
  border:2px solid red;
  margin:35px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 8px #514C4C;
  padding:15px;
}
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
